.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clear_delete_contaienr {
  display: grid;
  grid-template-columns: 1fr 1fr;

  font-size: 1px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #2196f3;
}
.grid-item, .grid-item-num {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

button:hover {
  background-color: black;
  color: white;
}

button:active {
  background-color: red;
  color: white;
}

#display {
  background-color: aqua;
}
